body {
	font-family:'Roboto',sans-serif;
	background-color:Black;
  margin: 0px;
  text-decoration:opaque;
}

#toptwenty {
	background-image:url('http://31.media.tumblr.com/bfa626cbda68b696a78ff3ded9c49a24/tumblr_mlb1az0gWv1qb7n75o5_500.gif');
	background-size:100%;
	top:0%;
	left:0%;
	right:0%;
	height:1000px;
	color:White;
	position:relative;
	width: 100%;

}

#toptwenty article {
	height: 458px;
	position: absolute;
	text-align: center;
	top: 150px;
	width: 100%;
	color:Silver;
	font-size: 100px;
	font-weight: 10px;
}

a {
	color:White;
	text-decoration:none;
}

a.hover {
	color:Blue;
}

#headErf {
	font-size: 30px;
	background-color: Gray;
	color:Black;
	left:0px;
	right:0px;
	width:100%;
	top:90%;
	height:10%;
	position:fixed;
}

a.#headErf {
	font-size: 30px;
	background-color: Gray;
	color:Red;
	left:0px;
	right:0px;
	width:100%;
	top:90%;
	height:10%;
	position:fixed;
}

#slideHome {
  background: url(http://fc00.deviantart.net/fs36/f/2008/279/b/c/Simple_Blue_II_by_evodesign.png) 50% 0 no-repeat fixed; 
  height: 1000px;  
  margin: 0 auto;
  left:0px;
  right:0px; 
  width: 100%; 
  position: relative; 
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  background-size: 100%;
}
}

#slideHome article {
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 150px; 
  width: 100%; 
  left:0px;
  right:0px;
  color: rgb(250,250,250);
  font-size: 100px;
  font-weight: 10px;
}

#slideGallery {
<<<<<<< HEAD
  background: url(http://backgrounds.picaboo.com/download/1c/c2/1c26856c75f0401e90bc2cedb7423ec1/Solid%20green%20background%20from%20rectangles.jpg) 50% 0 no-repeat fixed; 
  height: 1000px;  
  margin: 0 auto; 
  width: 100%; 
  position: relative; 
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  background-size: 100%;

}

#slideGallery article {
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 150px; 
  width: 100%; 
  color: rgb(250,250,250);
  font-size: 100px;
  font-weight: 10px;
}

#slideAbout {
  background: url(http://3.bp.blogspot.com/-NNaTQkyjYxI/Tm-dq6vITcI/AAAAAAAAEv8/3qzhBGpKbyY/s1600/solid+red+backgrounds+3.jpg) 50% 0 no-repeat fixed; 
  height: 1000px;  
  margin: 0 auto; 
  width: 100%; 
  position: relative; 
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  background-size: 100%;
}

#slideAbout article {
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 150px; 
  width: 100%; 
  color: rgb(250,250,250);
  font-size: 100px;
  font-weight: 10px;
}

#slideContact {
  background: url(http://www.pptback.com/uploads/solid-blue-colors-backgrounds-powerpoint.jpg) 50% 0 no-repeat fixed; 
  height: 1000px;  
  margin: 0 auto; 
  width: 100%; 
  position: relative; 
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  background-size: 100%;

}

#slideContact article {
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 150px; 
  width: 100%; 
  color: rgb(250,250,250);
  font-size: 100px;
  font-weight: 10px;
=======
	background-image:url(./);
	background-size:100%;
	top:130%;
	height:70%;
	left:0px;
  	right:0px;
}

#slideAbout {
	background-image:url(./);
	background-size:100%;
	top:230%;
	height:70%;
	left:0px;
  	right:0px;
}

#slideContact {
	background-image:url(./);
	background-size:100%;
	top:330%;
	height:70%;
	left:0px;
  	right:0px;
>>>>>>> Header Initiation
}